@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

h1,
h2,
.rst-content .toctree-wrapper p.caption,
h3,
h4,
h5,
h6,
legend {
    font-family: 'Lexend Deca', sans-serif;
}

.wy-side-nav-search {
    background-color: #0859C6;
}

.wy-side-nav-search input[type="text"] {
    border-color: unset;
}