# Doc dependencies tracked separately here for interoperability with readthedocs.org
pandas==1.0.5
recommonmark==0.7.1
sphinx_rtd_theme==0.5.1
sphinx-autodoc-typehints==1.11.1
Sphinx==4.0.0
toml==0.10.0
.
